.logo {
  font-family: var(--second-font);
  font-size: 40px;
  color: var(--title-color);
  text-shadow: 2px 2px var(--primary-color-shadow);
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
}
.logo:hover {
  color: var(--primary-color);
}

.servicesLink_nav {
  z-index: 2;
  position: relative;
}

.ListItemServices {
  font-size: 16px;
}

.desktopnavservice {
  padding: 8px 1px !important;
  font-size: 14px;
  text-align: center;
}

.link__nav {
  padding-left: 15px;
}

.LInkRouterServices {
  color: white;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: var(--transition);
}
.LInkRouterServices:hover {
  opacity: 1;
  transform: scale(1.1);
}

.desktopnavserviceLInk {
  text-align: center;
}

.blusServices {
  font-size: 20px;
  cursor: pointer;
  color: var(--text-color);
  position: relative;
  z-index: 20;
  padding-left: 8px;
  opacity: 0.8;
}

.containsevrviceLinks {
  overflow: hidden;
}

.blusServices2 {
  font-size: 22px;
  cursor: pointer;
  display: inline-block;
  color: var(--text-color);
  position: relative;
  z-index: 20;
  padding-left: 8px;
  opacity: 0.8;
}
.linknavAR,
.linknavNH,
.linknav {
  opacity: 0.5;
  transition: var(--transition);
  font-weight: 500;
  position: relative;
  cursor: pointer;
  color: var(--text-color);
}
.linknavNH:hover,
.linknavAR:hover,
.linknav:hover {
  opacity: 1;
  color: var(--title-color);
}
.linknavNH:hover::before,
.linknavAR:hover::before,
.linknav:hover::before {
  width: 70%;
}
.linknavNH::before,
.linknavAR::before,
.linknav::before{
  transition: var(--transition);
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  bottom: -2px;
}
.linknavNH::before,
.linknav::before{
  left: 0;
}
.linknavAR::before{
  right: 0;
}
.linknavNHFS {
  font-size: 22px;
}


.header {
  z-index: 1000;
  box-shadow: 2px 2px var(--primary-color-shadow);
  border-radius: 0;
}

.headernotTop {
  background-color: #0a1411;
  box-shadow: 0 0px 4px rgba(255, 255, 255, 0.1), inset -1px 0px 2.26765px rgba(255, 255, 255, 0.21) !important;
}

.headerTop {
  background-color: transparent;
}

.listLInks_Header {
  display: flex;
}

@media (max-width: 768px) {
  .listLInks_Header {
    display: none;
  }
}
.containHeader {
  padding-right: 24px !important;
}

.nav__toggle {
  display: block;
  height: 30px;
  width: 28px;
  cursor: pointer;
  position: relative;
  color: var(--button-color);
  cursor: pointer;
  transition: var(--transition);
}

.closedToggle {
  box-shadow: 0 0px 8px 3px rgba(255, 255, 255, 0.1), -1px 0px 2.26765px rgba(255, 255, 255, 0.08) !important;
}

.nav__button {
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 0;
  background-color: #0a1411;
}
.nav__button svg {
  margin-top: 4px;
}

@media (max-width: 768px) {
  .nav__button {
    display: flex;
  }
}
.background {
  box-shadow: 0 0px 20px 4px rgba(255, 255, 255, 0.1), -1px 0px 2.26765px rgba(255, 255, 255, 0.08) !important;
  width: 300px;
  max-width: 100%;
}

.servicesListItem {
  position: relative;
}

.sevicesBox {
  width: 100%;
  background-color: #0a1411;
  box-shadow: 0 0px 11px 0px rgba(255, 255, 255, 0.1), -1px 0px 2.26765px rgba(255, 255, 255, 0.08) !important;
  border-radius: 20px;
  position: absolute;
  overflow: hidden;
  top: -8px;
  left: 0;
}
.sevicesBox .sevicesListBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 7px 5px;
}/*# sourceMappingURL=header.css.map */