.logo {
  font-family: var(--second-font);
  font-size: 40px;
  color: var(--title-color);
  text-shadow: 2px 2px var(--primary-color-shadow);
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  &:hover {
    color: var(--primary-color);
  }
}
.servicesLink_nav {
  z-index: 2;
  position: relative;
}
.ListItemServicesAR {
  padding: 4px 16px !important;
  font-size: 13px;
}
.ListItemServicesEN {
  font-size: 17px;
}
.desktopnavservice {
  padding: 8px 1px !important;
  font-size: 14px;
  text-align: center;
}
.link__nav {
  padding-left: 15px;
}
.LInkRouterServices {
  //
  color: white;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: var(--transition);
  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }
}
.desktopnavserviceLInk {
  text-align: center;
}
.blusServices {
  font-size: 20px;
  cursor: pointer;
  color: var(--text-color);
  position: relative;
  z-index: 20;
  padding-left: 8px;
  opacity: 0.8;
}
// .OPENService {
//   height: 100%;
// }
// .CLOSEService {
//   height: 0px;
// }
.containsevrviceLinks {
  overflow: hidden;
}
.blusServices2 {
  font-size: 22px;
  cursor: pointer;
  display: inline-block;
  color: var(--text-color);
  position: relative;
  z-index: 20;
  padding-left: 8px;
  opacity: 0.8;
}
.linknav {
  opacity: 0.5;
  transition: var(--transition);
  font-weight: 400;
  position: relative;
  cursor: pointer;
  color: var(--text-color);
  &:hover {
    opacity: 1;
    font-weight: 500;
    color: var(--title-color);
    &::before {
      width: 70%;
    }
  }
  &::before {
    transition: var(--transition);
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    bottom: -2px;
    left: 0;
  }
}
.listNavLinks {
  .liEN {
  }
  .liAr {
    padding: 4px 16px;
  }
}
.linknavNH {
  opacity: 0.5;
  transition: var(--transition);
  font-weight: 400;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  color: var(--text-color);
  &:hover {
    opacity: 1;
    font-weight: 500;
    color: var(--title-color);
    &::before {
      width: 70%;
    }
  }
  &::before {
    transition: var(--transition);
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    bottom: -2px;
    left: 0;
  }
}

.header {
  z-index: 1000;
  // background-color: var(--header-color);
  box-shadow: 2px 2px var(--primary-color-shadow);
  border-radius: 0;
}
.headernotTop {
  background-color: #0a1411;
  box-shadow: 0 0px 4px rgb(255 255 255 / 10%),
    inset -1px 0px 2.26765px rgb(255 255 255 / 21%) !important;
}
.headerTop {
  background-color: transparent;
}
.listLInks_Header {
  display: flex;
}
@media (max-width: 768px) {
  .listLInks_Header {
    display: none;
  }
}

.containHeader {
  padding-right: 24px !important;
}
// @media (max-width: 768px) {
//   .nav_button {
//     display: flex;
//     flex-direction: column;
//     gap: 6px;
//     justify-content: center;
//     align-items: center;
//   }
// }
// .nav_button span {
//   // position: absolute;
//   left: 0;
//   width: 25px;
//   height: 2px;
//   background-color: var(--title-color);
//   transition: all 0.3s var(--transition);
// }

// .nav_button span:first-child {
// }

// .nav__opened span:first-child {
//   transform: rotate(45deg) translatex(10px) translateY(5px);
// }
// .nav__opened span:nth-child(2) {
//   opacity: 0;
// }

// .nav__opened span:last-child {
//   transform: rotate(-45deg) translatex(5px) translateY(0px);
// }

// .nav_button span:last-child {
// }

//////////////////
///
.nav__toggle {
  display: block;
  height: 30px;
  width: 28px;
  cursor: pointer;
  position: relative;
  color: var(--button-color);
  cursor: pointer;
  transition: var(--transition);
}
.openToggle {
}
.closedToggle {
  box-shadow: 0 0px 8px 3px rgba(255, 255, 255, 0.1),
    -1px 0px 2.26765px rgba(255, 255, 255, 0.08) !important;
}

.nav__button {
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 0;

  background-color: #0a1411;
  // background-color: #12b584;
  svg {
    margin-top: 4px;
  }
}

@media (max-width: 768px) {
  .nav__button {
    display: flex;
  }
}

.background {
  box-shadow: 0 0px 20px 4px rgba(255, 255, 255, 0.1),
    -1px 0px 2.26765px rgba(255, 255, 255, 0.08) !important;
  width: 300px;
  max-width: 100%;
}

.servicesListItem {
  position: relative;
}
.sevicesBox {
  width: 100%;
  background-color: #0a1411;
  box-shadow: 0 0px 11px 0px rgba(255, 255, 255, 0.1),
    -1px 0px 2.26765px rgba(255, 255, 255, 0.08) !important;
  // z-index: -1;
  border-radius: 20px;
  position: absolute;
  overflow: hidden;
  // top: 45px;
  top: -8px;
  left: 0;

  .sevicesListBox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 7px 5px;
  }
}

.svvvg {
  transition: var(--transition);
  &:hover {
    fill: white !important;
  }
}
