.contact__information {
  background-color: #0a1411;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0px 4px rgb(255 255 255 / 10%),
    inset -1px 0px 2.26765px rgb(255 255 255 / 21%) !important;
  height: 500px;

  .headtitle {
    font-family: var(--second-font);
    font-size: 30px;

    margin-bottom: 15px;
  }
  .adviceContact {
    font-size: 16px;
    letter-spacing: 0.5px;
  }
  .socialcontacts {
    display: flex;
  }
  .mailorPhoneorGPs {
    gap: 10px;
  }
  .mailorPhoneorGPs {
    padding: 18px 0;
    color: white;
    .mailorPhoneorGPstext {
      color: white;
      font-size: 17px;
    }
  }
}
.FnameAndLname,
.emailandphone {
  flex-direction: row !important;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
  .form-control {
    flex: 0 0 48%;
  }
}

.MuiInputLabel-root {
  color: var(--text-color) !important;
}
.MuiInputLabel-root.Mui-focused {
  color: var(--third-color) !important;
  font-family: "Roboto, Helvetica, Arial, sans-serif" !important;
}

.inpuuuutField {
  margin-bottom: 10px;
  .MuiOutlinedInput-notchedOutline {
    transition: var(--transition);
    border-color: var(--primary-color);
  }

  .MuiInputBase-root.MuiOutlinedInput-root:hover
    .MuiOutlinedInput-notchedOutline {
    border-color: var(--third-color);
  }
  .MuiInputBase-root.MuiOutlinedInput-root.Mui-focused
    .MuiOutlinedInput-notchedOutline {
    border-color: var(--third-color);
  }
}

.optionServices {
  .MuiOutlinedInput-notchedOutline {
    transition: var(--transition);
    border-color: var(--primary-color) !important;
  }
  &:hover .MuiOutlinedInput-notchedOutline {
    border-color: var(--third-color) !important;
  }
  &.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var(--third-color) !important;
  }
}

.radioControl {
  border: 1px solid var(--primary-color) !important;
  border-radius: 10px;
  &:hover {
    > label {
      color: var(--third-color) !important;
    }
  }
  > label {
    transition: var(--transition);
    padding: 10px;
  }
  .RadioGroub {
    display: flex;
    padding: 10px;
    flex-direction: row;
    padding: 10px;
    > label {
      transition: var(--transition);
      &:hover {
        color: var(--primary-color);
      }
      .MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label.css-ahj2mt-MuiTypography-root {
        font-family: inherit;
      }
      .Mui-checked {
        color: var(--primary-color) !important;
      }
    }
  }
}

@media (max-width: 600px) {
  .FnameAndLname,
  .emailandphone {
    .form-control {
      flex: 0 0 100%;
    }
  }
}
