@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Jost:wght@400;500;700&family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkalami&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Aref+Ruqaa&family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300&family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Cardo&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lato:ital,wght@0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lemonada:wght@300;400;500;600;700&family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800;900&family=Readex+Pro:wght@200;300;400;500;600;700&family=Reem+Kufi+Ink&family=Reem+Kufi:wght@400;500;600;700&family=Ruwudu:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkalami&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Aref+Ruqaa&family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300&family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Lato:ital,wght@0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lemonada:wght@300;400;500;600;700&family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800;900&family=Readex+Pro:wght@200;300;400;500;600;700&family=Reem+Kufi+Ink&family=Reem+Kufi:wght@400;500;600;700&family=Ruwudu:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800;900&family=Ruwudu:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800;900&family=Readex+Pro:wght@200;300;400;500;600;700&family=Reem+Kufi:wght@400;500;600;700&family=Ruwudu:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  scroll-behavior: smooth;
}
body.no-scroll {
  overflow: hidden;
}
h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.color-primary-color {
  color: var(--primary-color);
}
.background-primary-color {
  background-color: var(--primary-color);
}

:root {
  --button-color: black;
  --shadowbuppleLanding: inset 0 0 0 9px #ffffff4d;
  --primary-color: #228b22f2;
  --secondary-color: #32cd32;
  --third-color: #4a9e86;
  /* --primary-color: #4a9e86;
  --secondary-color: #228b22f2;
  --third-color: #4a9e86; */
  --primary-color-shadow: transparent;
  /*     box-shadow: 0 0px 12px 1px rgba(255, 255, 255, 0.1), -1px 0px 1px rgba(255, 255, 255, 0.08) !important; */
  --biggest-font-size: clamp(3.125rem, 1.6667rem + 7.7778vw, 7.5rem);

  /* font-size: clamp(3.125rem, 1.6667rem + 7.7778vw, 7.5rem); */
  --h1-font-size: clamp(1.75rem, 1.4167rem + 1.5238vw, 2.75rem);
  --h5-font-size: 22px;
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 90%);
  --bg-color: #0a1411;
  --bg-color-alt: hsl(220, 100%, 1%);
  --container-color: hsl(217, 18%, 14%);
  --border-color: hsl(210, 2%, 65%);
  --body-font: "Karla", sans-serif;
  --second-font: "Caveat", cursive;
  --shadow: 5px 5px rgb(255 255 255 / 10%);
  --transition: 0.4s cubic-bezier(0.3, 0, 0.3, 1);
  --primary-padding: 60px;
  --lg-title-fontSize: 26px;
  --xs-title-fontSize: 20px;
  --lg-title-second-font-fontSize: 36px;
  --xs-title-second-font-fontSize: 26px;
  --text-fontSize: 16px;
  --textShdowLanding: 2px 2px hsl(0, 0%, 0%), -2px 2px hsl(0, 0%, 100%),
    2px -2px hsl(0, 0%, 0%), -2px -2px hsl(0, 0%, 100%),
    4px 4px var(--secondary-color);
  --rtl-body-font-f: "Noto Kufi Arabic", sans-serif;
  --rtl-heading-font-f: "Reem Kufi", sans-serif;
  --rtl-second-font-f: "Ruwudu", serif;
}

.light-theme {
  --header-color: hsl(120, 100%, 25%, 0.4);
  --shadowbuppleLanding: inset 0 0 0 9px #0000004d;
  --textShdowLanding: 2px 2px hsl(0deg 0% 100%), -2px 2px hsl(0, 0%, 0%),
    2px -2px hsl(0deg 0% 100%), -2px -2px hsl(0, 0%, 0%),
    5px 5px rgba(0, 0, 0, 0.2);
  --container-color: rgb(253, 255, 227);
  --button-color: white;
  --shadow: 5px 5px rgba(0, 0, 0, 10%);
  --primary-color: rgb(1, 120, 72);
  --primary-color-shadow: hsl(120, 100%, 79%, 50%);
  --primary-color-second: #93ff93;
  --bg-color: rgb(226, 227, 218);
  --title-color: hsl(0, 0%, 0%);
  --text-color: hsl(0, 0%, 10%);
  --bg-color-alt: rgb(219, 222, 180);
}
/* -------------- Start Lang------------------------------------------------- */
/* ------------------- Arabic ----------------------- */
.arabic-text {
  font-family: var(--rtl-body-font-f) !important;
}
.arabic-heading {
  font-family: var(--rtl-heading-font-f) !important;
}
/* ------------------- English -----------------------*/
.english-text {
  font-family: var(--body-font) !important;
}
.english-heading {
  font-family: var(--second-font) !important;
}
/* --------------End Lang----------------------------------------------------- */
.flex {
  display: flex !important;
}
.spaceBetween {
  justify-content: space-between;
}

/* ------------------------ Card Service---------------------------------- */

.head-title {
  color: white;
  font-weight: bold;
  padding: 30px 0;
  font-size: 65px !important;
  text-align: center;
}
.css-mh8x07-MuiPaper-root-MuiCard-root {
  padding: 16px;
  color: white !important;
  border-radius: 50px;
  /* box-shadow: inset 0px 0px 1px 2px #ffffff9e; */
}

.card {
  position: relative;
  border-radius: 30px !important;
  box-shadow: 0 0px 4px rgb(255 255 255 / 10%),
    inset -1px 0px 2.26765px rgb(255 255 255 / 21%) !important;
  background: rgb(0, 0, 0, 0.3) !important;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
  position: relative;
  color: white !important;
}
.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(202 255 189 / 09%);
  opacity: 0;
  z-index: -1;
  animation: fadeOut 0.7s forwards;
}

.card:hover::after {
  animation: fadeIn 0.7s forwards;
}
@media (max-width: 991px) {
  .card:hover::after {
    animation: none;
  }
  .card::after {
    animation: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 1;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(100%);
  }
}
.card:hover .icon,
.card:hover .text {
  color: white !important;
}
@media (max-width: 991px) {
  .card:hover .icon {
    color: var(--primary-color) !important;
  }
}
.card .btn {
  border-color: var(--primary-color) !important;
  color: white;
  padding: 8px 25px;
  background: linear-gradient(
    to right,
    var(--primary-color) 50%,
    transparent 50%
  );
  background-size: 200% 90%;
  background-position: right bottom;
  transition: 0.4s;
  border-radius: 20px;
}

@media (min-width: 768px) {
  .card .btn:hover {
    background-position: left bottom;
    color: white;
  }
}

@media (max-width: 991px) {
  .card-link {
    width: 0 !important;
    height: 0 !important;
  }
}

/* ------------------------ Scroll Button---------------------------------- */

.scroll-up {
  text-transform: uppercase;
  position: fixed;
  right: 20px;
  bottom: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  background: rgb(0, 0, 0, 0.6) !important;
  box-shadow: 0 0px 8px 3px rgba(255, 255, 255, 0.1),
    -1px 0px 2.26765px rgba(255, 255, 255, 0.08) !important;
  transition: 0.5s;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@media (max-width: 550px) {
  .scroll-up {
    right: 10px;
    bottom: 15px;
  }
}
.scroll-up svg {
  color: white;
}
.scroll-up:hover {
  background-color: var(--primary-color);
}

/* ------------------------ Footer ---------------------------------- */
/* .footer{
  padding:20px;
  background-color:rgb(240, 247, 241);
  display:flex;
  justify-content:space-between
} */
.footer .title {
  font-family: var(--second-font);
  color: white;
  font-weight: bold;
  padding-bottom: 20px;
}
.footer .box {
  flex-basis: calc((100% - 5%) / 2);
  align-items: center;
}
/* --------------------layer----------------------------------- */
.layer {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #0a141185;
  z-index: -1;
}
/* ------------------------------link--------------------------- */
.link {
  font-weight: 500;
  color: white;
  font-size: 18px;
}
/* ---------------- */
.privacy-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color);
  z-index: 2000;
}
