@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Jost:wght@400;500;700&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  scroll-behavior: smooth;
}
body.no-scroll {
  overflow: hidden;
}
h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.color-primary-color {
  color: var(--primary-color);
}
.background-primary-color {
  background-color: var(--primary-color);
}
:root {
  --button-color: black;
  --shadowbuppleLanding: inset 0 0 0 9px #ffffff4d;
  --primary-color: #228b22f2;
  --secondary-color:#32CD32;
  --third-color:#244b46;
  --primary-color-shadow: rgb(255, 247, 0, 45%);
  --biggest-font-size: clamp(2.25rem, 1.125rem + 5.1429vw, 5.625rem);
  --h1-font-size: clamp(1.75rem, 1.4167rem + 1.5238vw, 2.75rem);
  --h5-font-size: 22px;
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 90%);
  --bg-color: hsl(216, 100%, 5%);
  --bg-color-alt: hsl(220, 100%, 1%);
  --container-color: hsl(217, 18%, 14%);
  --border-color: hsl(210, 2%, 65%);
  --body-font: "Jost", sans-serif;
  --second-font: "Caveat", cursive;
  --shadow: 5px 5px rgb(255 255 255 / 10%);
  --transition: cubic-bezier(0.3, 0, 0.3, 1);
  --primary-padding:60px;
  --lg-title-fontSize:26px;
  --xs-title-fontSize:20px;
  --lg-title-second-font-fontSize:36px;
  --xs-title-second-fontfontSize:26px;
  --text-fontSize:16px;
}
.light-theme {
  --shadowbuppleLanding: inset 0 0 0 9px #0000004d;
  --textShdowLanding: 2px 2px hsl(0deg 0% 100%), -2px 2px hsl(0, 0%, 0%),
    2px -2px hsl(0deg 0% 100%), -2px -2px hsl(0, 0%, 0%),
    5px 5px rgba(0, 0, 0, 0.2);
  --container-color: rgb(253, 255, 227);
  --button-color: white;
  --shadow: 5px 5px rgba(0, 0, 0, 10%);
  --primary-color: rgb(1, 68, 70);
  --primary-color-shadow: rgb(1, 68, 70, 45%);
  --bg-color: rgb(226, 227, 218);
  --title-color: hsl(0, 0%, 0%);
  --text-color: hsl(0, 0%, 10%);
  --bg-color-alt: rgb(219, 222, 180);
}
/* ------------------------ Card Service---------------------------------- */
.css-mh8x07-MuiPaper-root-MuiCard-root{
  padding: 16px ;
}

.card {
  position: relative;

}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #32CD32;
  opacity: 0;
  z-index: -1;
  animation: fadeOut 0.5s forwards;
}

.card:hover::after {
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(100%);
  }
}
.card:hover .icon ,
.card:hover .text{
  color: white !important;
}
/* ------------------------ Scroll Button---------------------------------- */

.scroll-up{
  text-transform: uppercase;
  position: fixed;
  right: 20px;
  bottom: 30px;
  cursor: pointer;
  z-index: 10000;
  background-color:  var(--secondary-color);
  transition: .5s;
}
.scroll-up:hover{
  background-color: var(--primary-color);
}
/* ------------------------ Footer ---------------------------------- */
/* .footer{
  padding:20px;
  background-color:rgb(240, 247, 241);
  display:flex;
  justify-content:space-between
} */
.footer .title{
  font-family: var(--second-font);
  color:var(--primary-color);
  font-weight: bold;
}
.footer .box{
  flex-basis: calc((100% - 5%) / 3);
  align-items: center;
}
